@model DTO.OrderDTO[]
@{
    ViewBag.Title = "GuideList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 审核管理 <span class="c-gray en">&gt;</span> 导游审核列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="batch_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>@Model.Length</strong> 条</span> </div>
    <form id="formList">
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="10">列表</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="150">订单号码</th>
                    <th width="150">路线名称</th>
                    <th width="150">价格</th>
                    <th width="150">订单状态</th>
                    <th width="150">创建时间</th>
                    <th width="150">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-c">
                        <td><input type="checkbox" value="@item.Id" name="selectedIds"></td>
                        <td>@item.OrderNum</td>
                        <td>@item.Name</td>
                        <td>@item.Money</td>
                        <td>@(item.state==0?"代缴费":"已缴费")</td>
                        <td>@item.CreateDateTime</td>
                        <td class="td-manage">
                            @*<a title="审核" href="javascript:;" onclick="member_edit('导游编辑', '/Guide/Edit/@Model.guide[i].Id','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>*@
                            <a  href="javascript:;" onclick="CompleteOrder(this,@item.Id)" class="ml-5" style="text-decoration:none">完成订单</a>
                            <a title="删除" href="javascript:;" onclick="user_del(this,@item.Id)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
@section FooterScript
{
    <script type="text/javascript">

        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        function batch_del() {
            layer.confirm("确认要批量删除这些数据吗？", function () {
                var formData = $("#formList").serializeArray();
                $.ajax({
                    url: "/order/BatchDelete",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    success: function (res) {
                        if (res.status == "ok") {
                            location.reload();//刷新页面
                        }
                        else if (res.status == "redirect") {
                            location.href = res.Data;
                        }
                        else if (res.status == "error") {
                            alert(res.ErrorMsg);
                        }
                        else {
                            alert("删除失败");
                        }
                    },
                    error: function () {
                        alert("网络请求失败");
                    }
                });
            });
        }

        function user_del(obj, id) {
            layer.confirm('确认删除？', function (index) {
                //此处请求后台程序，下方是成功后的前台处理……
                $.ajax({
                    url: "/order/Delete/" + id,
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        if (res.status == "ok") {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', { icon: 1, time: 2000 });
                        }
                        else if (res.status == "redirect") {
                            location.href = res.Data;
                        }
                        else if (res.status == "error") {
                            alert(res.ErrorMsg);
                        }
                        else {
                            layer.msg('删除失败!', { icon: 2, time: 2000 });
                        }
                    }
                });
            });
        }


        function CompleteOrder(obj, id) {
            layer.confirm('确认完成？', function (index) {
                //此处请求后台程序，下方是成功后的前台处理……
                $.ajax({
                    url: "/Guide/CompleteOrder/" + id,
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        if (res.status == "ok") {
                            location.reload();//刷新页面
                        }
                        else {
                            location.reload();//刷新页面
                        }
                    }
                });
            });
        }

    </script>
}

